[submodule "Source/ExternalComponents/rtmidi"]
	path = Source/ExternalComponents/rtmidi
	url = https://github.com/thestk/rtmidi.git
[submodule "Source/ExternalComponents/googletest"]
	path = Source/ExternalComponents/googletest
	url = https://github.com/google/googletest.git
[submodule "Source/ExternalComponents/tools"]
	path = Source/ExternalComponents/tools
	url = https://github.com/danielschenk/tools.git
